<html>
	<head>
		<title>Timezone</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	</head>
	<body ng-app='timezone'>

		<div ng-controller='indexCtrl'>
			<div class='controlContainer'>

				<div id='localTime'>
					Current Local Time <b>{{currentTime}}</b>
				</div>

				<br>

				<div>
					<div class='control'>
						<span>{{ zone1 }}</span>
						<select ng-model="zone1" ng-options="zone for zone in zones" ng-change="build()"></select><br>
						<p>Actual Time {{ zone1Response }}</p>
					</div>

					<div class='control'>
						<span>{{ zone12 }}</span>
						<select ng-model="zone12" ng-options="zone for zone in zones" ng-change="build()"></select><br>
						<p>Actual Time {{ zone12Response }}</p>
					</div>
				</div>
				
				<section>
					<table class="table table-striped table-hover">
						<tr>
							<th>{{zone1}}</th>
							<th>{{zone12}}</th>
						</tr>
						<tr ng-repeat="item in responseTime2">
							<td>{{ responseTime1[$index] }}</td>
							<td>{{ responseTime2[$index] }}</td>
						</tr>
					</table>
				</section>
			</div>
		</div>

		<script type="text/javascript" src='/js/vendors/angular.min.js'></script>
		<script type="text/javascript" src='/js/vendors/moment.min.js'></script>
		<script type="text/javascript" src='/js/vendors/moment-timezone-with-data.min.js'></script>
		<script type="text/javascript" src='/js/app.js'></script>
		<script type="text/javascript" src='/js/controller.js'></script>
		<script type="text/javascript" src='/js/service.js'></script>
	</body>
</html>